<h1>About Freshit</h1>
<p>Created by: Doug Walter</p> <br>
<p> This is meant to be an open source project to help aggregate the best available resources for becoming a programmer</p>
<p>Please fork the GitHub Repository and submit pull requests to improve the project</p>
<p>https://github.com/fresh5447/freshit.git</p>


