
<div class="hero-unit">
  <h1>Freshit <em style="font-size: 16px">beta</em> <br>
  <small>A collaborative open-source enviornment for sharing coding resources.</small></h1>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-medium' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-medium' %>
  </p>
</div>


    <div class="ninja-container">
      <div class="row">

        <div>
          <div>
            <img data-src="holder.js/300x200" alt="300x200" src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg" style="width: 300px; height: 200px;">
          </div>

        </div>

      </div>

      <div style="background-color: #3d142e">
        <div class="row">
          <div class="span4">
            <h2>Code Topics</h2>
            <p class="sub-p">Follow and contribute to topics.</p>
            <i class="fa fa-camera-retro fa-5x"></i>
          </div>
          <div class="span4">
            <h2>Share Resources</h2>
            <p class="sub-p">Share your knowledge with the community</p>
          </div>
          <div class="span4">
            <h2>Save Favorites</h2>
            <p class="sub-p">Save your favorites to your profile page.</p>
          </div>
        </div>

      </div>








