
<div class="hero-unit">
  <h1>Freshit
  <small>A collaborative enviornment for sharing media.</small></h1>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-medium' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-medium' %> today!
  </p>
</div>


    <div class="ninja-container">
      <div class="row">

        <div>
          <div>
            <img data-src="holder.js/300x200" alt="300x200" src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg" style="width: 300px; height: 200px;">
          </div>

        </div>

      </div>

      <div class="container col-md-6 col-md-offset-3" style="background-color: #3d142e">
        <div class="row">
          <div class="span4">
            <h2>Follow Topics</h2>
            <p class="sub-p">Keep up to date with your favorite Topics.</p>
            <i class="fa fa-camera-retro fa-5x"></i>
          </div>
          <div class="span4">
            <h2>Create Posts</h2>
            <p class="sub-p">This is your chance to contribute to the community!</p>
          </div>
          <div class="span4">
            <h2>Save Favorites</h2>
            <p class="sub-p">Collect your favorites of all time!</p>
          </div>
        </div>

      </div>








