
<div class="hero-unit">
  <h1>Freshit
  <small>A collaborative enviornment for sharing media.</small></h1>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-medium' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-medium' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Follow Topics</h2>
    <p>Keep up to date with your favorite Topics.</p>
  </div>
  <div class="span4">
    <h2>Create Posts</h2>
    <p>This is your chance to contribute to the community!</p>
  </div>
  <div class="span4">
    <h2>Save Favorites</h2>
    <p>Collect your favorites of all time!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span4">
     <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="300x200" src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg" style="width: 300px; height: 200px;">
     </div>
   </div>

    <div class="span4">
     <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="300x200" src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg" style="width: 300px; height: 200px;">
     </div>
    </div>
    <div class="span4">
     <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="300x200" src="http://s3.amazonaws.com/codecademy-blog/assets/ninja_zpsa5dbe37a.jpg" style="width: 300px; height: 200px;">
 
     </div>
</div>
</div>






