<div class="hero-unit">
  <h1>Fresh-it</h1>
  <p>Fresh-it is basically a remake of Reddit, but hey, it's my first app!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-danger btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span4">
    <h2>Follow Topics.</h2>
    <p>Find topcis your interested in, and follow posts.</p>
  </div>
  <div class="span4">
    <h2>Create Post.</h2>
    <p>This is your chance to contribute to the community!</p>
  </div>
  <div class="span4">
    <h2>Amazing Point 3</h2>
    <p>This truely is an amazing point. Chill out.</p>
  </div>
</div>

