<h1>Edit Post</h1>
<div class="row">
  <div>
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>
  </div>
  <div>
      <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>
