
@import "bootstrap-custom";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.voted {
  opacity: 0.5;
}

.hide {
  display: none;
}

.js-comments-count {
  clear: both;
  padding-top: 20px;
  color: #2C3E50;
}

.media  {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: white;
}
p {

}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

.sub-p{
  color: white;
}

.ninja-container{
  text-align: center;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.navbar .nav > li > .btn {
  font-size: 16px;
  margin: 4px;
  background-color: #128f76;
}


.dropdown-toggle {
  /*background-color: white; */
  color: black;
}

.panel-primary {
  width: 50%;
}

.panel-header p {
  margin-left: 11px;
}

.votes-badge {
  margin-left: 6px;
}
