<div class="vote-arrows pull-left">
  <div>
    <%= link_to " ", 
      topic_post_up_vote_path(topic, post), 
      class: "icon-thumbs-up #{(current_user.voted(post) && current_user.voted(post).up_vote?) ? 'voted' : '' }" %>
  </div>
  <div>
    <strong><%= post.points %></strong>
  </div>
  <div>
    <%= link_to " ", 
      topic_post_down_vote_path(topic, post), 
      class: "icon-thumbs-down #{(current_user.voted(post) && current_user.voted(post).down_vote?) ? 'voted' : '' }" %>
  </div>
</div>